@import '../abstracts/variables';

.footer {
    background-color: $clr-tertiary--light; // Light green
  
    .subtitle {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $clr-tertiary // Voyage Blue
    }
  
    .footer-link {
      color: $clr-secondary;
      text-decoration: none;
      transition: color 0.3s ease;
  
      &:hover {
        color: $clr-secondary--light; // Voyage Blue on hover
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    .form-control {
      border: 2px solid $clr-secondary;
      border-radius: 5px;
      transition: border-color 0.3s ease;
  
      &:focus {
        // border-color: $; // Voyage Blue
        box-shadow: 0 0 5px $clr-secondary--light;
      }
    }
  
    button.btn {
      background-color: transparent;
      color: $clr-secondary;
      border: 2px solid $clr-secondary;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $clr-secondary--light;
      }
    }
  
    .footer-bottom {
    //   background-color: #c8e6c9; // Light green
    //   padding: 1rem 0;
        p{
            font-size: 0.9rem;
        }
      .text-red {
        color: #e53935; // Red
      }
    }
  }
  