<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=egde">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ .Site.Params.favicon | relURL }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Params.Description | default .Site.Params.Description }}">
<meta name="keywords" content="{{ .Params.Keywords | default .Site.Params.Keywords }}">

<!-- og meta tags -->
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:description" content="{{ .Params.Description | default .Site.Params.Description }}">
<meta property="og:keywords" content="{{ .Params.Keywords | default .Site.Params.Keywords }}">
<meta property="og:image" content="{{ .Site.Params.og_image | relURL | absURL }}">

{{ partialCached "head/css.html" . }}