@import '../abstracts/index';

// immersive vertical slider
// .immersive-slider {
//     position: relative;
//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;

//     // opacity: 0;
//     transition: all 0.8s ease-in-out;

//     .slide {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background-size: cover;
//         background-position: center;
//         transform: translateY(100%);
//         transition: transform 0.8s ease-in-out;
//         will-change: transform;
//         opacity: 0;
//         z-index: 1;

//         &.active {
//             transform: translateY(0);
//             opacity: 1;
//             z-index: 2;
//         }

//         &:not(.active) {
//             transform: translateY(-100%);
//             opacity: 0;
//         }
//         .background-video {
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             z-index: -1; // Ensures content above the video remains visible
//           }

//         .content{
//             left: 50%;
//             @include glassmorphism(); // Uses default values
//             // padding: 1rem;
//             width: auto;
//         }
//     }

//     .slider-indicators {
//         position: absolute;
//         right: 2rem;
//         top: 50%;
//         transform: translateY(-50%);
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;
//         z-index: 10;

//         .dot {
//             width: 10px;
//             height: 10px;
//             background-color: rgba(255, 255, 255, 0.6);
//             border-radius: 50%;
//             transition: background-color 0.3s;

//             &.active {
//                 background-color: #ffffff;
//             }
//         }
//     }
// }

// @media (max-width: 768px) {
//     .slide {
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
// }

.slider {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust opacity as needed */
    z-index: 1;
    /* Place it above the background but below the text */
}

.slide-content {
    text-align: center;
    color: $snow-white;
    padding: 0.5rem 1rem;
    animation: fadeUp 0.8s ease-in-out;
    position: relative;
    z-index: 2;
    @include glassmorphism(4px);
    letter-spacing: 8px;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: $snow-white !important;

    // width: 30px;
    // aspect-ratio: 1;
    &::after {
        font-size: 25px;
    }
}

.agent-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.hero {
    position: relative;
    // min-height: 100vh;
    // overflow: hidden;
    // @include bg-primary;
    /* Prevents overflow */


    /* Add a pseudo-element for the overlay */
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     /* Optional overlay */
    //     background-color: hsla(219, 71%, 33%, 0.4);
    //     /* Light white overlay with 60% opacity */
    //     z-index: 1;
    //     /* Place the overlay between the video and content */
    // }

    .video-background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensures the video fills the viewport and maintains aspect ratio */
        z-index: -1;
        /* Keeps the video behind content */
    }

    .container-fluid {
        position: relative; // Relative positioning for content context  
        z-index: 1; // Content on top of video  

        .content {
            @include bg-primary;

            @include media-tablet-down{
                margin-top: 100vh;
            }
        }

        .col-auto {
            // @include glassmorphism(); // Uses default values
            // padding: 2rem;
            @include text-primary;
            color: $snow-white;
        }

        .title {
            // font-weight: $fw-bold;
            // font-weight: $fw-semibold;
            // margin-bottom: 0;
            // line-height: normal;
            text-transform: capitalize !important;
        }

        .subtitle {
            // @include text-primary;
            text-transform: capitalize;
            font-weight: $fw-semibold !important;
        }

        .brief {
            font-style: italic;
            font-weight: $fw-semibold !important;

        }

        .logo {
            width: 70%;
        }
    }

    .link-down {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

// latest
.latest {
    background: $clr-primary;
    padding-bottom: 15rem;
    min-height: 100vh;
    color: $snow-white;
    // padding-bottom: 10rem;
    .card-neumorphic {
        background: $clr-primary;
        border-radius: 20px;
        box-shadow: 7px 7px 15px #123a2a, -7px -7px 15px #184e38;
        padding: 20px;
        height: max-content;
    }

    .circle-btn {
        width: 60px;
        height: 60px;
        background: $clr-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 7px 7px 15px #123a2a, -7px -7px 15px #184e38;

        /* margin: auto; */
        .fa {
            color: $snow-white;
        }
    }
    .btn-snow-white-outline{
        background-color: transparent;
    }
}

.design-note-section {
    padding: 3rem 1rem;
    background: $clr-tertiary;
    color: $clr-tertiary--light;

    .text-content {
        text-align: center;
        padding: 1rem;

        .section-title {
            // font-size: 1.8rem;
            // font-weight: 600;
            line-height: 1.4;
            // color: #2c2c2c;
        }

        .architect-name {
            // font-size: 0.9rem;
            // font-weight: 500;
            margin-top: 0.5rem;

            // color: #6d6c6a;
            .highlight {
                //   color: #b3955f;
                // font-weight: 700;
            }
        }

        .sketches {
            overflow-x: auto;
            display: flex;
            scrollbar-width: none;
            align-items: center;
            position: relative;
            // justify-content: center;
            gap: 1rem;

            // margin: 1rem 2rem;
            .img-container {
                flex: 1 0 40%;
                // background-color: $clr-tertiary;
                // border: 1px solid $clr-tertiary--light;
                @include media-tablet{
                    flex: 1 0 80%;
                }
                img {
                    // margin-inline: auto;
                    // border-radius: 5px;
                    border: 2px solid $clr-tertiary--light;
                }
            }

            // img {
            //   width: 50px;
            //   opacity: 0.8;
            // }
        }

        .description {
            // font-size: 1rem;
            color: $clr-tertiary--light;
            line-height: 1.6;
            margin-top: 1rem;
        }
    }

    .image-container {
        position: relative;
        text-align: center;

        img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 12px;
        }

        .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 12px;
        }
    }

    @media (min-width: 768px) {
        .text-content {
            text-align: left;
            padding-right: 3rem;
        }

        .image-container {
            text-align: right;
        }
    }
    .bottom-content{
        .description{
            // flex-basis: 80%;
            border-radius: 5px;
            border: 2px solid $clr-tertiary--light;
            @include media-desktop{
                border: none;
            }
        }
        @include media-tablet-down{
            overflow-x: scroll;
        }
    }
}

.urban_square-intro {
    background-color: $soft-sky;
    position: relative;
    padding: 5rem 1rem;
    text-align: center;
    color: $clr-primary;
    min-height: 100vh;

    @media(max-width: 768px) {
        padding: 20rem 1rem;
    }

    // background: url("/images/urban-square-1.jpg") center/cover no-repeat fixed;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba(0, 0, 0, 0.444); // Opaque overlay
    //   z-index: 1;
    // }

    // // Unique openings using clip-path
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width:  100%;
    //   height: 100%;
    //   background: rgba(255, 255, 255, 0.1);
    //   z-index: 2;
    //   clip-path: polygon(10% 20%, 20% 10%, 30% 25%, 50% 10%, 60% 30%, 80% 20%, 90% 40%, 75% 60%, 50% 80%, 20% 60%);
    // }
    .reveal {
        position: absolute;
        top: 5%;
        left: 5%;
        height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        background: url("/images/urban-square-1.jpg") center/cover no-repeat fixed;

        &:nth-child(2) {
            top: 50%;
            left: unset;
            right: 5%;
        }

        &:nth-child(3) {
            top: unset;
            bottom: 5%;
            left: 5%;
        }

        // Responsive layout change for mobile (less than 768px)
        @media (max-width: 767px) {
            height: 150px;
            width: 150px;
            top: unset;
            bottom: 10%;
            left: 50%; // Centers the element without transform
            clip-path: unset;
            border-radius: 50%;
        }
    }


    .container {
        position: relative;
        z-index: 3;
    }

    h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 1rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
        animation: fadeInUp 1s ease-in-out;
    }

    p {
        font-size: 1.1rem;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.8;
        opacity: 0.9;
        animation: fadeInUp 1.2s ease-in-out;
    }

    // Responsive Adjustments
    @media (min-width: 768px) {
        padding: 7rem 2rem;

        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    @media (min-width: 1024px) {
        padding: 9rem 3rem;
        text-align: left;

        .container {
            max-width: 900px;
        }
    }
}

// brochure overview
// $primary-color: #d9c3b8;
$heading-color: #6b6a4d;
$text-color: #4d4c3b;
.overview-brochure {
    background-color: $clr-tertiary--light;
    padding: 80px 0;

    .content-box {
        padding-right: 30px;
    }

    .heading {
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: 700;
        color: $heading-color;
    }

    .description {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: $text-color;
        line-height: 1.6;
    }

    .building-image {
        // border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    .urban-square-section {
        text-align: center;
        padding: 50px 20px;

        .content-box {
            padding-right: 0;
        }

        .building-image {
            margin-top: 20px;
        }
    }
}
.vertical-title-bar {
    position: sticky;
    height: max-content;
    width: 50px;
    background: $clr-secondary--light;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        // writing-mode: vertical-rl; /* Rotates text vertically */
        // text-orientation: mixed; /* Ensures text orientation is correct */
        color: $clr-secondary;
        /* White text color */
        padding: 10px;
        // font-size: 16px;
        font-weight: bold;
        text-align: center;
        // height: 100%; /* Adjust as needed */
        font-size: 1.3rem;
    }
}

// overview
.project-section {
    background-color: $clr-secondary;
    color: $clr-tertiary--light;

    .section-title {
        color: $white;


    }

    .description {
        color: $clr-secondary--light;
    }

    .container-fluid {
        width: 85%;
        margin-right: unset;

        @include media-desktop {
            width: 90%;
        }

        .highlights {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;

            .highlight-item {
                width: 45%;
                border: 2px solid $clr-secondary--light;
                @include border-radius;
                padding: 1rem;
                text-align: center;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                }

                i {
                    color: $snow-white;
                    margin-bottom: 0.5rem;
                }

                p {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }

        // h3,
        // h4 {
        //     color: $clr-secondary--light;
        // }

        ul {
            padding-left: 1rem;
            list-style: none;

            li {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                color: $clr-secondary--light;

                i {
                    color: $clr-secondary--light;
                }

                strong {
                    color: $white;
                }
            }
        }

    }
}

#overview {
    .scroll-container {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        align-items: center;
        width: 90%;

        a {
            display: block;
            flex: 0 0 85%;
            width: 85%;

            &+a {
                margin-left: 0.5rem;
            }

            img {
                width: 90%;
                height: 34vh;
                /* width: 80vw; */
                object-fit: cover;

            }
        }


    }
}
#amenities{
    .amenities-list{
        // overflow-x: scroll;
    }
    .highlight-item{
        transition: background-color 0.3s ease-in-out;
        padding: 1rem 0.5rem;
        cursor: pointer;
        p{
            margin: 0;
        }
        &:hover{
            background-color: $clr-secondary--light;

        }
        &.active{
            border: 1px solid $clr-secondary--light;
        }
    }
}


#amenitiesCarousel{
    img{
        height: 80vh;
        object-fit: cover;
    }
}
// location
#location {
    background-color: $clr-primary;
    .vertical-title-bar{
        background-color: $clr-primary--light;
        h2{
            color: $clr-primary;
        }
    }
    .highlight-item {
        border-color: $clr-primary--light;
        color: $clr-primary--light;
        i{
            color: $snow-white;
        }
    }
    .description{
        color: $clr-primary--light;
        i{
            color: $snow-white;
        }
    }
}

// map
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    /* 16:9 aspect ratio */
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// upcoming
#kalapatti-project {
    background-color: #f8f9fa;

    h1,
    h3 {
        color: #333;
    }

    .lead {
        color: #666;
    }

    .bi {
        font-size: 2rem;
    }

    .card {
        border: none;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        .card-title {
            font-weight: 600;
            color: #333;
        }

        .card-text {
            color: #555;
        }
    }

    // Buttons


    img {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
}


.about {
    // background-color: $snow-white; // Subtle background color

    img {
        @include border-radius;

        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    }

    h2 {
        font-size: 2.5rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    .lead {
        color: $graphite-grey; // Text-muted color
        font-size: 1.25rem;
    }

    p {
        color: #333;
        font-size: 1rem;

        &:last-child {
            margin-bottom: 2rem;
        }
    }


    .row {
        align-items: center;


    }

    .text-center {
        margin-bottom: 2rem;
    }
}

// USP Section Styling
.usp-section {
    background-color: $clr-primary; // Voyage Blue
    position: relative;
    padding: 2rem 0 7rem;



    .container {
        position: relative;
        z-index: 1;
    }

    h2 {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    .lead {
        color: #e1e5eb; // Light white
        font-size: 1.25rem;
        margin-bottom: 3rem;
        line-height: 1.7;
    }

    .usp-card {
        background-color: rgba(255, 255, 255, 0.1); // Slightly transparent
        @include border-radius;

        padding: 2rem;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        i {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        h4 {
            color: #fff;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        p {
            color: #e1e5eb;
            font-size: 1rem;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }
    }
}

//   portfolio
.projects {
    background-color: $clr-tertiary;
    color: $snow-white !important;

    h2 {
        color: $snow-white !important;
    }

    .col-custom {
        flex: 0 0 90%;
        margin-top: 2rem;

        @include media-desktop {
            flex: 0 0 30%;
        }
    }

    .project-card {
        background-color: $clr-tertiary;
        //   border-radius: 12px;
        //   box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.7);
        @include border-radius;
        // background: #18428F;
        // box-shadow: -20px -20px 38px #112e63,
        //     20px 20px 38px #1f56bb;
        transition: transform 0.3s ease;
        // min-height: 50vh;

        &:hover {
            transform: translateY(-5px);
            // box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6);
        }

        .card-img-top {
            @include border-radius;

            // transition: transform 0.3s ease, box-shadow 0.3s ease;

            // &:hover {
            //     transform: scale(1.05);
            //     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            // }
        }

        .card-body {
            text-align: center;
            padding: 1rem;

            h5 {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
                //   color: $graphite-grey;
            }

            p {
                font-size: 0.875rem;
                //   color: #777;
            }


        }
    }
}

// cta
.cta-section {
    background: linear-gradient(135deg, #18428F, #4A90E2); // Gradient background (Voyage Blue to Light Blue)
    color: $snow-white;
    text-align: center;
    padding: 4rem 0;

    .cta-title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $snow-white !important;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    .cta-text {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        //   color: #e1e5eb; // Light white for contrast

        @media (max-width: 768px) {
            font-size: 1.1rem;
        }
    }

}