@import '../abstracts/index';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem ;
}

// loader
#loader-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.9s ease-in-out;
  
    .logo-wrapper {
      position: relative;
      width: 300px; // Adjust based on logo size
      height: 230px;
  
      img {
        position: absolute;
        opacity: 0;
        transition: all 0.8s ease-in-out;
        // height: 228px;
        // aspect-ratio: 1;
      }
  
      #logo {
        bottom: -50px;
        left: 50%;
        transform: translate(-50%, 50%);
        animation: logo-slide 0.9s forwards;
      }
  
      #e-icon {
        height: 55px;
        top: -50px;
        left: 30%; // Adjust to position the E icon correctly
        transform: translate(-50%, -50%);
        animation: e-slide 0.9s forwards;
      }
    }
  }
  
  @keyframes logo-slide {
    0% {
      bottom: -50px;
      opacity: 0;
    }
    100% {
      bottom: 50%;
      opacity: 1;
    }
  }
  
  @keyframes e-slide {
    0% {
      top: -50px;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
  }
  

body {
    overflow-x: hidden;
    // padding-top: $navbar-height;
    font-family: $font-primary;

}
body.scroll-locked {
  overflow: hidden;
}

.scroll-locked {
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
    // line-height: 1.3 !important;
    color: $voyage-blue;
    font-weight: $fw-semibold!important;
}




a {
    text-decoration: none;
    // color: $primary-clr--dark;
    // &:hover{

    //     text-decoration: underline!important;
    // }
}

img {
    max-width: 100%;
    height: auto;
    /* display: block; */
}
