
@font-face {
    font-family: "Fontspring-DEMO-juanaalt-regular";
    src: url("/fonts/Fontspring-DEMO-juanaalt-regular.otf") format("opentype") ;
}


// Define the font face mixin
@mixin heading-font {
    @font-face {
      font-family: "Fontspring-DEMO-juanaalt-regular";
      src: url("/fonts/Fontspring-DEMO-juanaalt-regular.otf") format("opentype");
    }
  }
  
  // Use the mixin
  @include heading-font;
  
  // Define the font family variable
  $heading-font: "Fontspring-DEMO-juanaalt-regular";
  
