// Primary Colors
$graphite-grey: #5C5D60;
$voyage-blue: #18428F;
$snow-white: #FEFEFA;

// Secondary Colors
$robust-rust: #A74F2A;
$serene-sage: #BCC4B2;
$soft-sky: #D0E8E4;

// Define primary colors
$primary-colors: (
  graphite-grey: #5C5D60,
  voyage-blue: #18428F,
  snow-white: #FEFEFA
);

// Define secondary colors
$secondary-colors: (
  robust-rust: #A74F2A,
  serene-sage: #BCC4B2,
  soft-sky: #D0E8E4
);


// Neutrals
$white: #FFF;          // Pure white for backgrounds or text
$gray-light: #dbdbdb;     // Very light gray for section backgrounds
$gray-medium: #CCC;    // Medium gray for dividers or borders
$gray-dark: #333;      // Dark gray for body text
$light-bg: #e0e5ec;


$navbar-height:10vh;
// $font-primary: "juana-medium", serif;
$font-secondary: "Montserrat", serif;
$font-body:  "AeonikTRIAL";
$fw-bold:700;
$fw-semibold:600;
// $italic: italic;

// new colors
$brunswick-green: hsla(156, 53%, 17%, 1);
$mint: hsla(156, 53%, 48%, 1);
$wine: hsla(352, 37%, 28%, 1);
$old-rose: hsla(352, 37%, 64%, 1);
$reseda-green: hsla(54, 19%, 44%, 1);
$champagne-pink: hsla(21, 56%, 89%, 1);

$clr-primary: hsla(156, 53%, 17%, 1);
$clr-primary--light: hsla(156, 53%, 48%, 1);
$clr-secondary: hsla(352, 37%, 28%, 1);
$clr-secondary--light: hsla(352, 37%, 64%, 1);
$clr-tertiary: hsla(54, 19%, 44%, 1);
$clr-tertiary--light: hsla(21, 56%, 89%, 1);