/* Coolors Exported Palette - https://coolors.co/154431-3abb87-632e35-c5818a-84805a-f3dfd4 */

/* CSS HEX */
--brunswick-green: #154431ff;
--mint: #3abb87ff;
--wine: #632e35ff;
--old-rose: #c5818aff;
--reseda-green: #84805aff;
--champagne-pink: #f3dfd4ff;

/* CSS HSL */
--brunswick-green: hsla(156, 53%, 17%, 1);
--mint: hsla(156, 53%, 48%, 1);
--wine: hsla(352, 37%, 28%, 1);
--old-rose: hsla(352, 37%, 64%, 1);
--reseda-green: hsla(54, 19%, 44%, 1);
--champagne-pink: hsla(21, 56%, 89%, 1);

/* SCSS HEX */
$brunswick-green: #154431;
$mint: #3abb87ff;
$wine: #632e35;
$old-rose: #c5818a;
$reseda-green: #84805aff;
$champagne-pink: #f3dfd4ff;

/* SCSS HSL */
$brunswick-green: hsla(156, 53%, 17%, 1);
$mint: hsla(156, 53%, 48%, 1);
$wine: hsla(352, 37%, 28%, 1);
$old-rose: hsla(352, 37%, 64%, 1);
$reseda-green: hsla(54, 19%, 44%, 1);
$champagne-pink: hsla(21, 56%, 89%, 1);

/* SCSS RGB */
$brunswick-green: rgba(21, 68, 49, 1);
$mint: rgba(58, 187, 135, 1);
$wine: rgba(99, 46, 53, 1);
$old-rose: rgba(197, 129, 138, 1);
$reseda-green: rgba(132, 128, 90, 1);
$champagne-pink: rgba(243, 223, 212, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-right: linear-gradient(90deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-bottom: linear-gradient(180deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-left: linear-gradient(270deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-top-right: linear-gradient(45deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-bottom-right: linear-gradient(135deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-top-left: linear-gradient(225deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-bottom-left: linear-gradient(315deg, #154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);
$gradient-radial: radial-gradient(#154431ff, #3abb87ff, #632e35ff, #c5818aff, #84805aff, #f3dfd4ff);