{{ define "main" }}
<main>
  <!-- common header to all pages -->
  <section class="page-title d-flex align-items-center py-5">
    <div class="container text-center py-5">
      <h1 class="display-4 mb-0 fw-bold">{{ .Title }}</h1>
    </div>
  </section>
<!-- layout terms -->
 {{ if eq .Params.layout "terms" }}
  <section class="py-5">
    <div class="container">
      <div class="row ">
        <div class="col-md-8 mx-auto">
          <p class="text-center">{{ .Params.brief }}</p>
          {{.Content}}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
{{ end }}